.container{
    height: 200px;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tooltip {
    background-color: rgb(134, 21, 129);
    color:white;
    height: 30px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}

.tooltip::before{
  position: absolute;
  display: none;
  content: attr(title);
  background-color: rgb(0, 0, 0,0.7);
  color: white;
  border-radius: 5px;
  height:30px;
  width: 100px;
  text-align: center;
  padding: 10px;
  bottom: calc(100% + 10px);
}

.tooltip:hover::before,
.tooltip:hover::after{
    display: inline-block;
   
}

.tooltip::after{
    position: absolute;
    display: none;
    bottom: 100%; 
    left: 50%;
    height: 0;
    width: 0;
    border: 6px solid transparent;
    border-top-color: rgb(0, 0, 0,0.7);
    content: "";
    /* bottom:calc(100%) */
}
