.container{
    height: 200px;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tooltip {
    background-color: rgb(134, 21, 129);
    color:white;
    height: 30px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}

.tooltip::before{
  position: absolute;
  display: none;
  content: attr(title);
  background-color: rgb(0, 0, 0,0.7);
  color: white;
  border-radius: 5px;
  height:30px;
  width: 120px;
  text-align: center;
  padding: 10px;
}

.tooltip:hover::before,
.tooltip:hover::after{
    display: inline-block;
   
}

.tooltip::after{
    position: absolute;
    display: none;
    /* bottom: 100%; 
    left: 50%; */
    height: 0;
    width: 0;
    border: 5px solid transparent;
    /* bottom:calc(100%) */
}

.tooltip.top::before{
    bottom: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
}

.tooltip.top::after{
    border-top-color: rgb(0, 0, 0,0.7);
    border-bottom-width: 0;
    content: "";
    bottom: 100%; 
    left: 50%;
    transform: translateX(-50%);
}

.tooltip.bottom::before{
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
}

.tooltip.bottom::after{
    border-bottom-color: rgb(0, 0, 0,0.7);
    border-top-width: 1px;
    content: "";
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
}

.tooltip.right::before{
    /* bottom: calc(100% + 5px); */
    top:50%;
    left: calc(100% + 5px);
    transform: translateY(-50%);
}

.tooltip.right::after{
    border-right-color: rgb(0, 0, 0,0.7);
    border-left-width: 0;
    content: "";
    left: 100%;
    top:50%;
    transform: translateY(-50%);
}

.tooltip.left::before{
    /* bottom: calc(100% + 5px); */
    top:50%;
    right: calc(100% + 5px);
    transform: translateY(-50%);
}

.tooltip.left::after{
    border-left-color: rgb(0, 0, 0,0.7);
    border-right-width: 0;
    content: "";
    right: 100%;
    top:50%;
    transform: translateY(-50%);
}